:root {
    --accent-1: #413c58;
    --accent-1a: #4c417b;
    --accent-2: #d1ede6;
    --accent-3: #e7efc5;
    --accent-4: #fffcf2;
}

a,
button.text-button {
    color: var(--accent-3);
    font-weight: bold;
    text-decoration: underline;

    &:hover {
        color: var(--accent-2);
    }
}

body {
    background-color: var(--accent-1);
    color: var(--accent-4);
    margin: 0;
}

body,
button,
input,
select,
textarea {
    font-size: 1rem;
    line-height: 1.4rem;
}

body,
button.text-button,
input,
pre,
textarea {
    font-family: Arial, Helvetica, sans-serif;
}

button {
    background-color: var(--accent-2);
    font-weight: bold;
    padding: 5px 10px;

    &:hover {
        background-color: var(--accent-3);
    }

    &#save-response {
        display: block;
        margin: 30px auto auto;

        &:disabled {
            display: none;
        }
    }

    &.text-button {
        min-width: auto;
        background-color: transparent;
        padding: 0;
    }
}

button,
h1 {
    font-family: Georgia, "Times New Roman", Times, serif;
}

button,
input,
select,
textarea {
    min-width: 100px;
    appearance: none;
    border: 0;
    border-radius: 7px;
    box-sizing: border-box;
    color: var(--accent-1);
}

button,
select {
    &:hover {
        cursor: pointer;
    }
}

footer {
    background-color: var(--accent-1a);
    display: none;

    & h2 {
        text-align: center;
    }

    & #summary {
        margin: auto;
    }
}

footer,
main {
    padding: 50px 15px;
}

footer #summary,
#response {
    max-width: 600px;
}

form#ask {
    max-width: 400px;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin: auto;

    & textarea {
        height: 120px;
    }

    & button[type="submit"] {
        margin: auto;
    }
}

h1 {
    color: var(--accent-2);
    text-align: center;
}

header#menu {
    --max-width: 350px;
    --min-width: 275px;
    --width: 60%;

    height: 100vh;
    max-width: var(--max-width);
    min-width: var(--min-width);
    width: var(--width);
    background-color: #222;
    overflow: auto;
    position: fixed;
    top: 0;
    right: clamp(
        calc(100% - var(--max-width)),
        calc(100% - var(--width)),
        calc(100% - var(--min-width))
    );
    text-align: center;
    transition: 1s;

    &.closed {
        right: 100vw;
    }

    & button.toggle-menu {
        min-width: auto;
        width: 30px;
        height: 30px;
        line-height: 0;
        padding: 0;
        position: absolute;
        top: 0;
        right: 0;
    }

    & h2 {
        margin-top: 50px;
    }

    & #menu-content {
        padding-bottom: 60px;

        & ul {
            box-sizing: border-box;
            padding: 0 15px;

            & li {
                list-style-type: none;
                margin-bottom: 20px;

                & p {
                    margin: 0;

                    &.time {
                        opacity: 0.8;
                    }

                    &.time,
                    &.uids {
                        font-size: 0.8rem;
                    }
                }
            }
        }
    }
}

input,
select,
textarea {
    background-color: var(--accent-4);
    padding: 5px;
}

nav {
    margin-bottom: 30px;
    text-align: center;
}

#response {
    margin: 30px auto 0;
    white-space: break-spaces;
}

select {
    background-image: url("/assets/select-arrow.png");
    background-position: center right 3px;
    background-repeat: no-repeat;
    background-size: 14px 14px;
    padding-right: 22px;

    &[name="uid"] {
        min-width: 150px;
        width: fit-content;
    }

    &[name="author"] {
        width: 150px;
    }
}
