a.ref {
    display: none;
}

#blurb,
#sutta,
#title {
    max-width: 650px;
    width: fit-content;
    margin: auto;
}

#blurb {
    color: #d1ede6;

    & hr {
        &:first-child {
            margin: 35px 0 20px;
        }

        &:last-child {
            margin: 20px 0 35px;
        }
    }
}

body {
    text-align: center;
}

form#pick-sutta {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 8px;
}

hr {
    height: 4.5px;
    background-color: #e7efc5;
    border: 0;
}

.prev-and-next {
    display: flex;
    gap: 8px;
    justify-content: center;
    padding: 30px 8px 10px;
}

#sutta {
    & p.copyright {
        font-size: 0.75rem;
        opacity: 0.6;
    }

    & table td {
        vertical-align: top;

        &:first-child {
            color: #d1ede6;
            font-size: 0.8rem;
            padding-right: 10px;
            text-align: right;
        }

        &:last-child {
            text-align: left;
        }
    }
}

#title {
    line-height: initial;
    margin: 20px auto;

    & > * {
        margin: 8px auto;
    }
}
