a.ref {
    display: none;
}

body {
    text-align: center;
}

form#pick-sutta {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 8px;
}

#sutta {
    max-width: 650px;
    width: fit-content;
    margin: auto;

    & table td {
        vertical-align: top;

        &:first-child {
            color: #d1ede6;
            font-size: 0.8rem;
            padding-right: 10px;
            text-align: right;
        }

        &:last-child {
            text-align: left;
        }
    }
}

#title {
    line-height: initial;
    margin: 20px auto;

    & > * {
        margin: 8px auto;
    }
}
